<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Student Data</title>
</head>
<body>
<h1>Student Details</h1>
Name:<b th:text="${student.name}"></b></br>
Score :<b th:text="${student.score}"></b>
</body>
</html>
